<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card-evt">
          <%= link_to event_path(event) do %>
            <% if event.image.attached? %>
              <%= cl_image_tag(event.image.key, class: "card-img-top evt-profile-img") %>
            <% end %>
            <div class="card-body">
              <h1 class="card-title"><%= truncate(event.name, length: 52) %></h1>
              <h2 class="card-text"><%= truncate(event.description, length: 85) %></h2>
              <div class="card-location">
                <p>📍<%= event.location %></p>
              </div>
              <div class="evt-date">
                <p><%= event.formatted_date %></p>
              </div>
            </div>
            <div class="card-footer">
              <h3 class="card-fiesta"><%= event.open ? "S'inscrire" : "complet" %></h3>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
