<%= simple_form_for @event do |form| %>
  <%= form.error_notification %>

  <div class="alert alert-danger" id="alert-missing-fields" style="display: none;">
    Veuillez remplir tous les champs obligatoires.
  </div>

  <div class="form-inputs mt-4">
    <%= form.input :name, label: "Nom", input_html: { class: 'field-bg-color field-no-border', placeholder: "nom de l'évènement" } %>
    <%= form.input :location, label: "Adresse", input_html: { class: 'field-bg-color field-no-border', placeholder: "Adresse de l'évènement" } %>
    <%= form.input :description, input_html: { class: 'field-bg-color field-no-border', placeholder: "Description de l'évènement" } %>
    <%= form.input :date_time, label: "Date & heure", input_html: { class: 'field-bg-color field-no-border', value: @event.date_time.try(:strftime, '%Y-%m-%d %H:%M'), placeholder: "Date et heure de l'évènement" }, wrapper_html: { class: 'mb-3' }, html5: true %>
    <%= form.input :image, as: :file, input_html: { class: 'field-bg-color field-no-border' } %>
    <%= form.hidden_field :open, value: true %>
  </div>

  <div class="form-actions text-end">
    <%= link_to 'Retour', events_path, class: 'btn btn-secondary' %>
    <%= form.button :submit, "Créer l'évènement", class: 'btn btn-primary', onclick: 'return validateForm();' %>
  </div>
  <p>Les champs marqués d'un <b>*</b> sont obligatoires</p>
<% end %>

<script>
  function validateForm() {
    var name = document.getElementById('event_name').value;
    var location = document.getElementById('event_location').value;
    var description = document.getElementById('event_description').value;
    var dateTime = document.getElementById('event_date_time').value;

    if (name === '' || location === '' || description === '' || dateTime === '') {
      document.getElementById('alert-missing-fields').style.display = 'block';
      return false; // Empêche l'envoi du formulaire
    }

    return true; // Permet l'envoi du formulaire si tout est rempli
  }
</script>
