<%# Affichage des events %>


<div class="container">
  <h1 class="h1-line my-4">Liste des événements</h1>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.address %></h6>
            <p class="card-text"><%= event.description %></p>
            <p class="card-text"><strong>Date et heure :</strong> <%= event.date_time ? event.date_time.strftime("%d/%m/%Y %H:%M") : "Non spécifiée" %></p>
            <p class="card-text"><strong>Ouvert :</strong> <%= event.open ? 'Oui' : 'Non' %></p>
            <% if event.user %>
              <p class="card-text"><strong>Créateur de l'évènement :</strong> <%= event.user.name %> <%= event.user.firstname %></p>
            <% else %>
              <p class="card-text"><strong>Créateur de l'évènement :</strong> Non spécifié</p>
            <% end %>
              <div>
                <% if event.image.attached? %>
                  <%= cl_image_tag(event.image.key, width: 200, crop: :fill) %>
                <% end %>
              </div>
            <a href="<%= event_path(event) %>" class="btn btn-primary mt-3">Voir Détails</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
