<div class="container">
  <h1 class="my-2 text-center h1-line"><strong>Détail de l'événement</strong></h1>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-6 col-12 mb-4 p-4">
      <div class="card-top d-flex align-items-center mx-auto mt-5">
        <% if @event.image.attached? %>
          <%= cl_image_tag(@event.image.key, class: "image") %>
        <% end %>
        <div class="event-infos flex-grow-1 p-2 position-relative">
          <h1><strong><%= @event.name %></strong></h1>
          <p>Une phrase pour décrire votre événement : <br>
          <strong> <%= @event.description %></strong></p>
          <p><strong>Ouvert :</strong> <%= @event.open ? 'Oui' : 'Non' %></p>
          <%= form_with(url: register_event_path(@event), method: :post) do |form| %>
            <%= form.submit "Réserver ma place", class: "button w-100", style: 'border-radius:5px; margin-top: 20px;' %>
          <% end %>
        </div>
      </div>

      <div class="card-middle d-flex align-items-center justify-content-center mx-auto my-1 p-4">
        <h2 class="mb-2 text-center"> Adresse :<br>
        <strong><%= @event.address %></strong></h2>
      </div>

      <div class="card-bottom d-flex align-items-center justify-content-evenly mx-auto my-1">
        <div class="d-flex mini-card-1 text-white text-center p-3 rounded justify-content-center">
          <p><strong>Date et heure :</strong> <%= @event.date_time ? @event.date_time.strftime("%d/%m/%Y %H:%M") : "Non spécifiée" %></p>
        </div>
        <div class="d-flex mini-card-2 text-center text-black p-3 rounded justify-content-center">
          <p><strong>Ouvert :</strong> <%= @event.open ? 'Oui' : 'Non' %></p>
        </div>
        <div class="d-flex mini-card-3 text-center text-white p-3 rounded justify-content-center">
          <p><strong>Organisateur :</strong> <%= @event.user.name %> <%= @event.user.firstname %></p>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <a href="<%= events_path %>" class="btn btn-secondary mt-3">Retour à la liste</a>
        <% if @event.user == current_user %>
          <%= form_with url: event_path(@event), method: :delete, class: 'd-inline' do %>
          <%= submit_tag "Supprimer l'évènement", class: 'btn btn-danger mt-3 ms-2' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
