 <div class="row">
    <% @events.each do |event| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="p-4 card-fiesta">
          <% if event.image.attached? %>
            <%= cl_image_tag(event.image.key, class: "img-fluid") %>
          <% end %>

          <div class="card-fiesta-infos">
            <div>
              <h2><%= event.name %></h2>
              <p><%= event.address%></p>
              <p><%= event.description!%></p>
              <p><strong> Organisateur :</strong> <%= event.user.name %> <%= event.user.firstname %></p>
              <%= link_to 'Réserver', reservations_new_path, class: 'button', style: 'padding: 6px 12px; font-size: 14px; margin-top: 20px;' %>
            </div>
            <h3 class="card-fiesta-"><strong> Ouvert :</strong> <%= event.open ? 'Oui' : 'Non' %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-fiesta-user avatar-bordered" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
